.containerChat
{
    background: var(--gray-100);
    padding: 0.4rem;
}
.display 
{
    display: flex;
    align-items: baseline;
    margin-top: 0.6rem;

    .avatar
    {
        border-radius: 0.3rem;
    }

    .displayName 
    {
        margin-left: 0.6rem;
        font-size: 0.7rem;
    }
}


.textMessage
{
    background: var(--gray-200);
    padding: 0.6rem;
    margin: 0.4rem;
    word-break: normal;
    overflow-wrap: break-word;
    border-radius: 0.1rem;
}

.btnDelete
{
    background-color: var(--danger);
    border: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: inherit;
    border-radius: 8px;
    width: 100px;
    height: 25px;
    margin: 20px 20px auto auto;
    cursor: pointer;
    transition: filter 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:not(:disabled):hover {
      filter: brightness(0.9);
    }
}
