:root {
  /* CSS variables */
  --primary: #007bff;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --secondary: #6c757d;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;



  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
  --body-bg-color: #dce4e3;
  --green-primay: #4fff4b;
  --green-secondary: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f8f8f8;
    color: #29292e;
  }
  
  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
  }