::-webkit-scrollbar               {width: 8px; height: 8px;}
::-webkit-scrollbar-track         {background: #c2c6db4f !important; border-radius: 20px;}
::-webkit-scrollbar-thumb         {background: linear-gradient(45deg, #3dbefa72, #01a2be); border-radius: 20px;}
::-webkit-scrollbar-thumb:hover   {background: #3f51b5 !important}
::-webkit-scrollbar-thumb:active  {background: #3dbefa  !important}

:root {
  /* CSS variables */
  --primary: #007bff;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --secondary: #6c757d;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;


  --tw-color: #50b7f5;
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
  --body-bg-color: #dce4e3;
  --green-primay: #4fff4b;
  --green-secondary: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background: #f5f7fa;;
    color: #000;
    line-height: 1.5;
    max-width: 1400px;
    margin: 0 auto;
    letter-spacing: -0.03rem;
  }
  
  body, input, button, textarea {
    // font: 400 16px 'Titillium Web', sans-serif;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  }

  *, button, input, textarea {
    border: 0;
    background: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  }