
.btn-cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastrar-jogador {
    margin-left: 1.4rem!important;
}

@media (max-width: 770px) {
    .btn-cadastrar {
        
        flex-direction: column;
        width: 12.4rem!important;
    }

    .cadastrar-jogador {
        margin-top: 0.8rem!important;
        width: 12.4rem!important;
        margin-left: 0!important;
    }
}