.header {

  display: flex;
  flex-direction: column;


  .mainMenu {
    width: 100%;
    position: fixed;
    height: 10%;
    bottom: 0;
  }

}

.containerFeed {
  background: #f8f9fa;
  display: Flex;
  justify-content: center;
  margin: auto;
  width: 800px
}