.imgUserLogger {
    border-radius: 50%;
}

.buttons {

    display: flex;
    align-items: center;
    justify-content: center;

    span 
    {
        margin-left: 0.6rem ;
        width: 1.6rem;
        cursor: pointer;
    }


}